@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

h1 {
position: relative;
margin: 0 auto;
top: 25vh;
width: 100vw;
text-align: center;
font-family: "Amatic SC";
font-size: 6vh;
color: lab(21.247%, 0%, 0%);
opacity: 0.75;
}